@media screen and (max-width: 579px) {
    html, body {
        overflow-x: hidden;
    }

    .container {
        max-width: 340px;
    }

    hr {
        width: 340px;
    }

    .hero__avatar {
        margin-left: 60px;
    }

    .hero__name {
        top: 310px;
        left: 80px;
    }

    .hero__description {
        width: 100%;
        margin-left: 5px;
        font-size: 14px;
        margin-top: 50px;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .skill__statistic {
        width: 100%;
    }
}